{% extends 'base.html' %}

{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/pass_confirm.css' %}" type="text/css">
{% endblock %}

{% block title %}Ingresa nueva contraseña{% endblock %}

{% block content %}

<main>
    <div class="div_pass_confirm">
        <h1>Ingresa nueva contraseña</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Cambiar contraseña">
        </form>
    </div>
</main>

{% endblock %}