{% extends 'base.html' %}
{% load static %}
{% block extrastatic %}
<!-- FlexSlider -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css">
{% endblock %}
{% block title %}
Green App
{% endblock %}

{% block content %}
<main>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="{% static 'img/carrusel/pic1.jpg' %}" alt="foto-mascota-1">
                <section class="flex-caption"></section>
            </li>
            <li>
                <img src="{% static 'img/carrusel/pic2.jpg' %}" alt="foto-mascota-2">
                <section class="flex-caption"></section>
            </li>
            <li>
                <img src="{% static 'img/carrusel/pic3.jpg' %}" alt="foto-mascota-3">
                <section class="flex-caption"></section>
            </li>
        </ul>
    </div>
    <div class="text">
        <div class="div_quienes">
            <h2>¿Quiénes somos?</h2>
            </br>
            <p> Green App es una aplicación que busca optimizar y mejorar el proceso de reciclado en Chile, 
                uniendo personas que tienen material reutilizable, con recicladores dispuestos a retirar este material y 
                comercializarlo libremente.
            </p>
        </div>
        <div class="div_mision">
            <h2>Nuestra misión</h2>
            <br>
            <p> Creemos que las soluciones siempre son en conjunto. Ayúdanos a crear una solución definitiva para el problema 
                ambiental que hoy enfrentamos, mediante el reciclaje inclusivo.
            </p>
        </div>
    </div>
</main>
{% endblock %}