{% extends 'base.html' %}
{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/mascotas.css' %}" type="text/css">
{% endblock %}

{% block content %}

<main>
    <div class="div_conten">
        <h2 class="h2_gal1 h2">Tutoriales</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YiHTNfKJwAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FdVfYfpxgF4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8xRgXQqUhIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
</main>


{% endblock %}